<!DOCTYPE html>
<html>
<!--
	This is the document master for your site. Any style changes to this page will adapt to every page within your site.
-->
<head>
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Risque" %>
</head>
<body>
	<header>
		<h1>Sarah's DHWI Application</h1>
		<nav>
			<ul>
				<li><%= link_to 'About', pages_about_path %></li>
				<li><%= link_to 'See Topics', topics_path %></li>
				<li><%= link_to 'Add a Topic', new_topic_path %></li>
			</ul>
		</nav>
	</header>
<% flash.each do |name, msg| %>
	<div><%= msg %></div>
<% end %>
<%= yield %>
	<footer>
		<p>Saranes</p>
		<ul>
			<li><%= link_to 'Follow me on Twitter!', image_tag('https://twitter.com/images/resources/twitter-bird-white-on-blue.png'), 'http://www.twitter.com/sespinosa09' %></li>
			<li><%= link_to image_tag('http://wordpress.org/about/images/logos/wordpress-logo-32-blue.png'), 'http://saespinosahome.wordpress.com/' %>  Follow my wordpress blog</li>
		</ul>
	</footer>
</body>
</html>
