<!DOCTYPE html>
<html>
<!--
	This is the document master for your site. Any style changes to this page will adapt to every page within your site.
-->
<head>
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Risque" %>
</head>
<body>
	<header>
		<h1>Sarah's DHWI Application</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/topics/new">Create Topic</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>
		</nav>
	</header>
<% flash.each do |name, msg| %>
	<div><%= msg %></div>
<% end %>
<%= yield %>
	<footer>
		<span>Created as class exercise by Sarah Espinosa at the Digital Humanities Winter Institute 2013, with help of GitHub, Heroku, Pixlr and guided by instructors Jeremy Boggs and Wayne Graham</span>
	</footer>
</body>
</html>
